params {

    output = "/mnt/c/fastq_nextflow/output"
    fastq_dir = "/mnt/c/fastq_nextflow/data"
    ref = "/mnt/c/nextflow/reference"

    fastqc_bin = "/home/a/miniconda3/envs/bnf/bin/fastqc"
    cutadapt_bin = "/home/a/miniconda3/envs/bnf/bin/cutadapt"
    samtools_bin="/home/a/miniconda3/envs/bnf/bin/samtools"
    hisat2_bin="/home/a/miniconda3/envs/bnf/bin/hisat2"
    bcftools_bin="/home/a/miniconda3/envs/bnf/bin/bcftools"
}